body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: #212529;
    color: white;
}

/* Navigation Bar */

#nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;
	background-color: #212529e7;
    overflow: hidden;
    z-index: 2;
}

#logo {
    float: left;
    margin: 0;
    padding: 0%;
    padding-left: 1%;
}

#logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Roboto', sans-serif;
    color: #F8F9FA;
}

#logo a:hover {
    background: none;
}

#nav-bar-items {
    list-style-type: none;
    float: right;
    margin: 0;
}

#nav-bar-items li {
    list-style-type: none;
    display: inline-block;
}

#nav-bar-items a {
    display: inline-block;
    color: #F8F9FA;
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-shadow: #212529 (0 2px 0);
	text-decoration: none;
    text-transform: uppercase;
    padding: 1.1em 1em;
}

#nav-bar-items a:hover {
	background: #6C757D;
    padding: 1.1em 1em;
}

/* Home Page */

#page-header {
    background-image: url(../images/moon_homepage.png);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    text-align: center;
    padding: 19% 5%;
    padding-right: 20%;
}

#page-header-content {
    width: 50%;
    background: #343a40a2;
    padding: 2.5em;
}

#page-header-content h1 {
    font-family: 'Raleway';
    font-size: 2.5em;
    color: white;
}

#page-header-content h1.first {
    font-size: 3em;
}

#page-header-content h2 {
    font-family: 'Raleway';
    font-size: 1.7em;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 6%;
    color: white;
}

#page-header-content .button {
    display: block;
    margin: auto;
    font-family: 'Raleway';
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    width: 20%;
    padding: 1em;
    border-radius: 5px;
    background: #DEE2E6; 
}

#page-header-content .button:hover {
    background: #6C757D;
    color:white;
}

/* homepage sections */

#homepage-sections {
    display: block;
    width: 100%;
    text-align: center;
}

#homepage-sections div.content {
    position: relative;
    padding: 8% 0%;
}

#homepage-sections h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid;
    padding: 0.2em;
    width: fit-content;
    margin:auto;
}

#homepage-sections p {
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: 400;
}

#homepage-sections section:nth-of-type(odd) div.content {
    background: #dee2e6b4;
    color: black;
}

#homepage-sections section:nth-of-type(even) div.content {
    background: #495057ad;
    color: white;
}

#dining-intro {
    background: url(../images/dining.jpg);
    background-size: cover;
    background-position-y: 65%;
}

#accommodation-intro {
    background: url(../images/accommodation.jpg );
    background-size: cover;
    background-position-y: 65%;
}

#moonwalking-intro {
    background: url(../images/moonwalking.png );
    background-size: cover;
    background-position-y: 50%;
}

#about-intro {
    background: url(../images/moon.jpeg );
    background-size: cover;
    background-position-y: 65%;
}
#faq-intro {
    background: url(../images/question.png );
    background-size: cover;
    background-position-y: 65%;
}

#homepage-sections a.page-button {
    display: block;
    width: fit-content;
    padding: 0.5%;
    border-radius: 5px;
    margin: 0.5% auto 0 auto;
}

#homepage-sections section:nth-of-type(odd) a.page-button {
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: white;
    background: black;

}

#homepage-sections section:nth-of-type(even) a.page-button {
    font-family: 'Raleway';
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    color: black;
    background: white;
}

#homepage-sections section a.page-button:hover {
    background: #6C757D;
    color:white;
}

footer #references {
    margin-left: 1%;
}
footer h1 {
    font-family: 'Roboto';
    font-size: 1em;
}